* {
  margin: 0px;
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --grey: hsl(0, 0%, 90%);

  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
  overflow: hidden;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

main {
  background: url(images/badge.png) no-repeat center/cover;
  background-color: #202024; 
  width: 100vw;
  min-height: 812px;
  height: 100vh;
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--grey);
}

.faixa{
  visibility: hidden;
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;

  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 10;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover; 

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;

  margin-top: 1.5rem;
}

a {
  color: var(--grey);

  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  margin-top: 0.25rem;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;

  list-style: none;
  padding: 0;

  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.squares li{
  width: 40px;
  height: 40px;
background: linear-gradient(308deg, rgba(255,0,142,1) 16%, rgba(255,205,30,1) 94%);
  display: block;
  position: absolute;
  bottom: -40px;
  z-index: -1;

  animation: up 2s infinite;
}

@keyframes up{
  from{
    opacity: 0;
    transform: translateY(0);
  }
  50%{
    opacity: 1;
  }

  to{
    opacity: 0;
    transform: translateY(-1000px) rotate(960deg);
  }
}

/* Media queries */
@media (min-width: 460px){

  body{
    background: #121214;
  }
  
  main{
    background-color: rgba(255, 255, 255, 0.1);
    width: 22.375rem;
    height: 33.75rem;
    min-height: unset;

    position: relative;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 0.75px;

    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
  }

  .container{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 53px;
    top: -83px;

    
    }

  .faixa{
    visibility: visible;
    position: absolute;
    left: 41%;
    top: -25%;
    z-index: 6;
  }

  .faixa::before{
    content: '';
    position: absolute;
    height: 8px;
    width: 80px;
    background: #121214;
    bottom: 0;
    right: -13.5%;
    z-index: -1;
  }

  .avatar{
   margin: 7.5rem auto 0;
  }

  ul{
    margin-top: 1rem;
  }
}

